<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <span class="name">Welcome to GoodGrocers</span>
          <!-- <hr class="star-light"> -->
          <span class="skills">Your one-stop shop for all of your shopping needs.</span>
          <p><a class="btn btn-primary btn-lg"  style="margin-top:20px;" href="/items" role="button">Start shopping now</a></p>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h2>About</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <p>
          We imagine a grocery shopping experience where all your needs are met on one site.
          While larger sites may offer this service, we seek to improve our quality by limiting our scope.
          This allows us to create close relationships with specific suppliers.
          We aim to pass this quality onto our customers, with higher quality at lower prices.
          We care about the environment and chose sustainable options.
        </p>
        <br>
        <p>
          Join us at Good Grocers for a better grocery shopping experience.
        </p>
      </div>
    </div>
  </div>
</section>
