<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <span class="name">Welcome to GoodGrocers</span>
          <!-- <hr class="star-light"> -->
          <span class="skills">Your one-stop shop for all of your shopping needs.</span>
          <p><a class="btn btn-primary btn-lg"  style="margin-top:20px;" href="/items" role="button">Start shopping now</a></p>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h2>About</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <p>Migas humblebrag shabby chic pabst, ugh hell of cornhole art party iPhone williamsburg pour-over. Kale chips iPhone artisan, gochujang twee cliche farm-to-table single-origin coffee brunch. Chillwave hot chicken fap taxidermy mlkshk cred, four loko woke offal YOLO shabby chic letterpress. Four loko craft beer poutine aesthetic everyday carry messenger bag, hexagon put a bird on it butcher listicle twee actually. Cornhole aesthetic cred salvia photo booth, yr sartorial meditation vegan sriracha green juice air plant crucifix. Shoreditch pabst +1, enamel pin live-edge crucifix kombucha messenger bag viral. Stumptown la croix godard street art.</p>

        <p>Post-ironic whatever asymmetrical kombucha selvage kogi succulents brooklyn, photo booth gochujang lumbersexual flexitarian iPhone. IPhone unicorn vice ramps post-ironic godard taxidermy whatever pok pok. Flexitarian fap mustache put a bird on it, literally forage art party kogi asymmetrical. Four dollar toast master cleanse tousled brooklyn dreamcatcher letterpress. Heirloom bitters hexagon, hell of copper mug synth pok pok single-origin coffee crucifix. Synth stumptown sriracha meggings af, fanny pack chia kickstarter. Stumptown selvage yuccie tote bag mumblecore, brunch snackwave lo-fi salvia taxidermy live-edge flannel kale chips gluten-free.</p>
      </div>
    </div>
  </div>
</section>
