<div class="jumbotron">
  <div class="container">
    <h1 id="homepage-h1">Welcome to GoodGrocers</h1>
    <p>Your one-stop shop for all of your shopping needs.</p>
    <p><a class="btn btn-primary btn-lg" href="/items" role="button">Start shopping now</a></p>
  </div>
</div>
