<table class="table">
  <thead>
    <tr>
      <td>Order #</td>
      <td>Status</td>
      <td>Action</td>
    </tr>

  </thead>
  <tbody>
    <% orders.each_with_index do |order, index| %>
    <tr>
      <td> <%= link_to "##{index + 1}", order %></td>
      <td> <%= order.status %> </td>
      <td><% if order.status =='Ordered' %>
            <%= link_to "Mark As Paid", admin_edit_order_status_path(status: "Paid", order_id: order.id), method: :patch %>
          <% end %>
          <% if order.status == 'Paid' || order.status == 'Ordered' %>
            <%= link_to "Cancel", admin_edit_order_status_path(status: "Cancelled", order_id: order.id), method: :patch  %>
          <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
