<h1><%= current_user.username.capitalize %>'s Past Orders</h1>

<% @orders.each do |order, index| %>

    <h3><%= link_to "Order ##{order.id}", order %></h3>
    <ul>
      <% order.distinct_items.each do |item| %>
        <li><%= item.title %> x <%= order.quantity(item.id) %> </li>
      <% end %>
    </ul>

<% end %>
