<h1><%= current_user.username.capitalize %>'s Past Orders</h1>

<% @orders.each_with_index do |order, index| %>

    <h3><%= link_to "Order ##{ index + 1 }", order %></h3>
    <ul>
      <% order.items.each do |item| %>
        <li><%= item.title %></li>
      <% end %>
    </ul>

<% end %>
