
<div class="row">
  <div class="col col-md-8">
    <div class="img-thumbnail">
      <img src="<%= @item.image_path %>" alt="Oblivion" style="width:320px;height:280px">
      <div class="caption">
      </div>
    </div>
  </div>

  <div class="col col-md-4">
    <div class="thumbnail">
      <div class="caption" >
        <h3 style="font-size: 15px">Price: <%= cents_to_dollar @item.price %></h3>
        <h3 style="font-size: 15px">Description: <%=  @item.description %></h3>

        <%= button_to "Add to Cart", cart_path(:item_id => @item.id) %>

      </div>
    </div>
  </div>
</div>
