.username-navbar {
  left: 45px;
  align-items: center;
}

.logged-as-navbar {
  top: 15px;
  left: 56px;
  color: #777;
  align-items: center;
}

.logout-as-navbar {
  left: 20px;
  align-items: center;
}
