<div class="container" style="margin-top:50px;margin-bottom:100px;">
  <div class="container">
    <div class="page-header">
      <h1><%= @user.username%>'s Profile Page</h1>
    </div>

    <%= render partial: "shared/edit_profile_form.html", locals: {user_path: admin_dashboard_path} %>
  </div>
</div>
