<h1>Admin Dashboard</h1>

<div class="container">
  <p>Profile Image:</p> <%=image_tag @user.user_image %><br>
  <p><%= @user.gender %></p>
</div>

<%= link_to "Update Profile", admin_edit_dashboard_path%>
